<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Chirpify_Seller>
			<version>0.1.1</version>
		</Chirpify_Seller>
	</modules>
	<admin>
	    <routers>
    	    <adminhtml>
                <args>
                    <modules>
                        <chirpify_seller before="Mage_Adminhtml">Chirpify_Seller</chirpify_seller>
                    </modules>
                </args>
    	    </adminhtml>
	    </routers>
	</admin>
	<frontend>
		<routers>
			<chirpify_seller>
				<use>standard</use>
				<args>
					<module>Chirpify_Seller</module>
					<frontName>chirpify_seller</frontName>
				</args>
			</chirpify_seller>
		</routers>
	</frontend>
	<global>
		<blocks>
			<chirpify_seller>
				<class>Chirpify_Seller_Block</class>
			</chirpify_seller>
		</blocks>
		<models>
		    <sales>
		        <rewrite>
		            <quote>Chirpify_Seller_Model_Quote</quote>
		        </rewrite>
		    </sales>
			<chirpify_seller>
				<class>Chirpify_Seller_Model</class>
				<resourceModel>chirpify_seller_mysql4</resourceModel>
			</chirpify_seller>
            <chirpify_seller_mysql4>
                <class>Chirpify_Seller_Model_Mysql4</class>
                <entities>
                    <campaign>
                        <table>chirpify_seller_campaigns</table>
                    </campaign>
                </entities>		                
			</chirpify_seller_mysql4>
		</models>
		<helpers>
			<chirpify_seller>
				<class>Chirpify_Seller_Helper</class>
			</chirpify_seller>
		</helpers>

 
        <resources>
            <chirpify_seller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chirpify_seller_write>
            <chirpify_seller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chirpify_seller_read>
            <chirpify_seller_setup>
                <setup>
                    <module>Chirpify_Seller</module>
                    <class>Chirpify_Seller_Model_Mysql4_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chirpify_seller_setup>
        </resources>

 
        <events>
            <chirpify_seller_campaign_activate>
                <observers>
                    <chirpify_seller_main_activate>
                        <type>singleton</type>
                        <class>chirpify_seller/observer_activate</class>
                        <method>activate</method>
                    </chirpify_seller_main_activate>
                </observers>
            </chirpify_seller_campaign_activate>
            
            <chirpify_seller_campaign_deactivate>
                <observers>
                    <chirpify_seller_main_deactivate>
                        <type>singleton</type>
                        <class>chirpify_seller/observer_deactivate</class>
                        <method>deactivate</method>
                    </chirpify_seller_main_deactivate>
                </observers>
            </chirpify_seller_campaign_deactivate>
            
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <chirpify_seller_addbutton>
                        <type>singleton</type>
                        <class>chirpify_seller/observer</class>
                        <method>addStartCampaignButton</method>
                    </chirpify_seller_addbutton>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <sales_quote_collect_totals_after>
                <observers>
                    <chirpify_seller_reset_totals>
                        <type>singleton</type>
                        <class>chirpify_seller/observer</class>
                        <method>resetTotals</method>                    
                    </chirpify_seller_reset_totals>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <chirpify_seller_reset_orderitem_price>
                        <type>singleton</type>
                        <class>chirpify_seller/observer</class>
                        <method>resetOrderItemPrice</method>                           
                    </chirpify_seller_reset_orderitem_price>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>    
	</global>
	
	<frontend>
        <layout>
            <updates>
                <chirpify_seller>
                    <file>chirpify_seller.xml</file>
                </chirpify_seller>
            </updates>
        </layout>	
	</frontend>
	
	<default>
	    <chirpify_seller>
	        <options>
	            <orders_in_store_id>1</orders_in_store_id>
  	            <api_url>https://api.chirpify.com/v1.1/</api_url>
	        </options>
	    </chirpify_seller>
	</default>
</config>
